body {
	background-color: #f5d9d5;
	font-family: "nunito", sans-serif;
}

#mainNavbar {
	background-color: rgb(222,192,222);
}
h1 {
	color: #ea1c2c;
}

.blurb h2 {
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #000000;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: #ffffff;
}

#mainNavbar .nav-Link:hover {
	color: #ea1c2c;
}

#mainNavbar .navbar-brand {
	color: #ea1c2c;
	font-size: 1.5rem;
}

#headingGroup span {
	color: #ea1c2c;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.navbar.scrolled {
	background: #ffffff;
	transition: background 500ms;
}
@media (max-width: 1255px) {
	#headingGroup h1 {
		font-weight: 100;
		font-size: 3rem;
	}
}
